<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loading$ | async" class="ion-padding">Loading users...</div>

  <ion-list *ngIf="users$ | async as users">
    <ion-item *ngFor="let user of users" (click)="goToUserSearch(user.login)">
      <ion-avatar slot="start">
        <img [src]="user.avatar_url" />
      </ion-avatar>
      <ion-label [appHighlightRepos]="user.public_repos">
        {{ user.login }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMoreUsers($event)">
    <ion-infinite-scroll-content
      loadingText="Loading more users..."
      loadingSpinner="dots"
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
